Non Local Part Of Mailbox Should Be Case Insensitive

According to RFC 5321 section 2.4. titled General Syntax Principles and Transaction Model, SMTP defines that the non local parts of an email address should be treated in a case insensitive manner.

However, when I add someone in the domain umail.UCSB.edu, I get an invalid error message.

> Verbs and argument values (e.g., "TO:" or "to:" in the RCPT command
>    and extension name keywords) are not case sensitive, with the sole
>    exception in this specification of a mailbox local-part (SMTP
>    Extensions may explicitly specify case-sensitive elements).  That is,
>    a command verb, an argument value other than a mailbox local-part,
>    and free form text MAY be encoded in upper case, lower case, or any
>    mixture of upper and lower case with no impact on its meaning.  The
>    local-part of a mailbox MUST BE treated as case sensitive.
>    Therefore, SMTP implementations MUST take care to preserve the case
>    of mailbox local-parts.
